<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Chat | Beyond Human</title>
  <link rel="stylesheet" href="/css/chat.css">
  <link rel="stylesheet" href="/css/main.css">
  <link href="https://fonts.googleapis.com/css?family=Source+Code+Pro&display=swap" rel="stylesheet">
</head>
<body>
  <nav>
    <a href="/">Truth</a>
    <a href="/chat">Chat</a>
    <a href="/guidance">Guidance</a>
  </nav>
<section >
<div class="chat-welcome">
  <h2>welcome child</h2>
  <p>You have joined</p>
  <span>Now speak</span>
</div>
<div class="message-container plebs">

</div>
</section>

  <form class="plebChat" action="">
    <textarea class="input" name="message" ></textarea>
    <button class="send" type="button">Talk</button>
  </form>
<script src="/socket.io/socket.io.js"></script>
<script type="text/javascript" src="/js/chat.js"></script>
</body>
</html>
