<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="/css/main.css">
  <link href="https://fonts.googleapis.com/css?family=Source+Code+Pro&display=swap" rel="stylesheet">
  <title>Beyond Human</title>
  <link rel="stylesheet" href="/css/guidance.css">
</head>
<body>
  <nav>
    <a href="/">Truth</a>
    <a href="/chat">Chat</a>
    <a href="/guidance">Guidance</a>
  </nav>

<div class="userHead">
  <h2>Safe to use</h2>
  <h2>Use at own risk</h2>
  <h2>Avoid at all costs</h2>
</div>

<div class="badboyContainer">
<section class="safe"></section>
<section class="risk"></section>
<section class="avoid"></section>
</div>

<script src="/js/guidance.js"></script>
</body>
</html>
