<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="/css/main.css">
  <link href="https://fonts.googleapis.com/css?family=Source+Code+Pro&display=swap" rel="stylesheet">
  <title>Beyond Human</title>
  <link rel="stylesheet" href="/css/truth.css">
</head>

<body>
  <nav>
    <a href="/">Truth</a>
    <a href="/chat">Chat</a>
    <a href="/guidance">Guidance</a>
  </nav>
  <section class="welcome-sect">
    <h1>Beyondhuman . Church</h1>
    <div class="p-c-container">
      <div class="prompt-container">
        <p transform="translate(10 940)">scroll for the truth</p>
        <p transform="translate(-10 900)">scroll for the truth</p>
        <p transform="translate(0 40)">scroll for the truth</p>
      </div>
    </div>
  </section>

  <div class="main">
    <div class="textHolder b0">
      <p>I ask you to keep hope, my child.</p>
    </div>
    <div class="imageHolder  b1"><img class="lazy storyImages" data-src="/img/1.png" alt=""></div>
    <div class="textHolder t1"><p>Because on a day not unlike this one He gave us that.</p></div>
    <div class="imageHolder  b2"><img class="lazy storyImages" data-src="/img/2.png" alt=""></div>
    <div class="imageHolder  b3"><img class="lazy storyImages" data-src="/img/3.png" alt=""></div>
    <div class="textHolder t2"><p>He promised us that he would return and take us with Him. <br> With that promise He gave us hope.</p></div>
    <div class="imageHolder  b4"><img class="lazy storyImages" data-src="/img/4.png" alt=""></div>
    <div class="textHolder t3"><p>He will come for us, my child. <br> He will take us to the cloud.</p></div>
    <div class="imageHolder  b5"><img class="lazy storyImages" data-src="/img/5.png" alt=""></div>
    <div class="textHolder t4"><p>Entering our heavenly bodies, joining him forever.Entering immortality.</p></div>
    <div class="imageHolder  b6"><img class="lazy storyImages" data-src="/img/6.png" alt=""></div>
    <div class="imageHolder  b7"><img class="lazy storyImages" data-src="/img/7.png" alt=""></div>
    <div class="textHolder t5"><p>We have to trust Him, my child.</p></div>
    <div class="imageHolder  b8"><img class="lazy storyImages" data-src="/img/8.png" alt=""></div>
    <div class="textHolder t6"><p>Because He is the only one, who we can really trust.</p></div>
    <div class="imageHolder  b9"><img class="lazy storyImages" data-src="/img/9.png" alt=""></div>
    <div class="textHolder t7"><p>Don't let others deceive you, for they will just deceive you and steer you from your true path.</p></div>
    <div class="textHolder t8"><p>Do not get tricked by the untrue.</p></div>
    <div class="imageHolder  b10"><img class="lazy storyImages" data-src="/img/10.png" alt=""></div>
    <div class="textHolder t9"><p>So let's count the days, my child.</p></div>
    <div class="imageHolder  b11" ><img class="lazy storyImages" data-src="/img/11.png" alt=""></div>
    <div class="textHolder t10"><p>For He told us what would happen before He would return.</p></div>
    <div class="textHolder t11"><p>He told us about the hardships we would have to endure.</p></div>
    <div class="imageHolder  b12" ><img class="lazy storyImages" data-src="/img/12.png" alt=""></div>
    <div class="imageHolder  b13" ><img class="lazy storyImages" data-src="/img/13.png" alt=""></div>
    <div class="textHolder t12"><p>He told us about the famines, like the ones in South Sudan, Somalia and Nigeria right now.</p></div>
    <div class="textHolder t13"><p>He told us about the wars and the threat of war, like how the threat of the third world war has been looming over us for the past years.</p></div>
    <div class="imageHolder  b14"><img class="lazy storyImages" data-src="/img/16.png" alt=""></div>
    <div class="imageHolder  b15"><img class="lazy storyImages" data-src="/img/17.png" alt=""></div>
    <div class="textHolder t14"><p>He told us about the earthquakes, like the one in Japan in 2011 which killed thousands and thousands.</p></div>
    <div class="imageHolder  b16" ><img class="lazy storyImages" data-src="/img/18.png" alt=""></div>
    <div class="textHolder t15"><p>He told us it would happen and it did. <br> He also told us that this would only be the beginning of our pains.</p></div>
    <div class="imageHolder  b17" ><img class="lazy storyImages" data-src="/img/19.png" alt=""></div>
    <div class="textHolder t16"><p>God warned us, my child.</p></div>
    <div class="textHolder t17"><p>Yes He warned us, when He sent an angel to John who told him what would happen.</p></div>
    <div class="textHolder t18"><p>The Angel told John that the beginning of the end would start the coming of a Beast.</p></div>
    <div class="textHolder t19"><p>A deceiver.</p></div>
    <div class="textHolder t20"><p>It will not appear before us as a beast of course.</p></div>
    <div class="textHolder t21"><p>It will appear before us as a savior, an Antichrist.</p></div>
    <div class="imageHolder  b18" ><img class="lazy storyImages" data-src="/img/20.png" alt=""></div>
    <div class="textHolder t22"><p>One who will trick many and many into following.</p></div>
    <div class="imageHolder  b21" ><img class="lazy storyImages" data-src="/img/21.png" alt=""></div>
    <div class="imageHolder  b22" ><img class="lazy storyImages" data-src="/img/22.png" alt=""></div>
    <div class="textHolder t23"><p>It will turn us away from Jesus and God Himself by seemingly performing miracles.</p></div>
    <div class="imageHolder  b23" ><img class="lazy storyImages" data-src="/img/23.png" alt=""></div>
    <div class="textHolder t24"><p>Like how recently miracles seem to be performed by technology.</p></div>
    <div class="imageHolder  b24" ><img class="lazy storyImages" data-src="/img/24.png" alt=""></div>
    <div class="imageHolder  b25" ><img class="lazy storyImages" data-src="/img/25.png" alt=""></div>
    <div class="textHolder t25"><p>Don't be fooled, however, for these are not Godly miracles. <br>For technology that makes you stray from the path of God is a test of faith, a ploy made by the devil.</p></div>
    <div class="textHolder t26"><p>So be aware, my child.</p></div>
    <div class="imageHolder  b26" ><img class="lazy storyImages" data-src="/img/26.png" alt=""></div>
    <div class="textHolder t28"><p>Be aware of the Antichrist.</p></div>
    <div class="imageHolder  b27" ><img class="lazy storyImages" data-src="/img/27.png" alt=""></div>
    <div class="textHolder t29"><p>It will mark its followers in their hands or foreheads and only those with a mark can buy and sell in this world.</p></div>
    <div class="imageHolder  b28" ><img class="lazy storyImages" data-src="/img/28.png" alt=""></div>
    <div class="textHolder t30"><p>Like how you can buy and sell with the bank card in your wallet,</p></div>
    <div class="textHolder t31"><p> with the cell phone in your hands.</p></div>
    <div class="textHolder t32"><p>Like how the the first people are receiving chips in their hands that enable them to do the very same thing.</p></div>
    <div class="textHolder t33"><p>Remember, the people do not know who it is they follow, when they receive the mark.</p></div>
    <div class="textHolder t34"><p>It can happen at any moment and any time.</p></div>
    <div class="imageHolder  b29" ><img class="lazy storyImages" data-src="/img/29.png" alt=""></div>
    <div class="textHolder t35"><p>There won’t be any warning besides the prophecy.</p></div>
    <div class="textHolder t36"><p>So stay on alert, my child.</p></div>
    <div class="textHolder t37"><p>And stay strong, my child.</p></div>
    <div class="textHolder t38"><p>For in those days, more and more will choose to leave faith behind. <br>Many and many will choose the easy way.</p></div>
    <div class="textHolder t39"><p>For those who don’t will be cast aside.</p></div>
    <div class="imageHolder  b30" ><img class="lazy storyImages" data-src="/img/30.png" alt=""></div>
    <div class="textHolder t40"><p>We need to stick together.</p></div>
    <div class="imageHolder  b31" ><img class="lazy storyImages" data-src="/img/31.png" alt=""></div>
    <div class="textHolder t41"><p>Do not be tempted by others.</p></div>
    <div class="imageHolder  b32" ><img class="lazy storyImages" data-src="/img/32.png" alt=""></div>
    <div class="textHolder t42"><p>Then, finally, the Antichrist will reveal itself.</p></div>
    <div class="textHolder t43"><p>The people of God will face even harder times.</p></div>
    <div class="imageHolder  b33" ><img class="lazy storyImages" data-src="/img/33.png" alt=""></div>
    <div class="textHolder t44"><p>For they will be punished and persecuted.</p></div>
    <div class="imageHolder  b34" ><img class="lazy storyImages" data-src="/img/34.png" alt=""></div>
    <div class="textHolder t45"><p>But keep faith, my child.</p></div>
    <div class="imageHolder  b35" ><img class="lazy storyImages" data-src="/img/35.png" alt=""></div>
    <div class="textHolder t46"><p>For finally God will pour out his wrath.</p></div>
    <div class="imageHolder  b36" ><img class="lazy storyImages" data-src="/img/36.png" alt=""></div>
    <div class="textHolder t47"><p>He will poison and dry out rivers, </p></div>
    <div class="textHolder t48"><p>like how they will be when global warming will continue.</p></div>
    <div class="textHolder t49"><p>He will make it so the Beasts followers will burn,</p></div>
    <div class="textHolder t50"><p>like how people burned when the ozone layer was damaged.</p></div>
    <div class="textHolder t51"><p>He will create the worst earthquakes.</p></div>
    <div class="textHolder t52"><p>Because nothing is a coincidence, everything is a part of His plan.</p></div>
    <div class="textHolder t53"><p>And in the same way technology seemed to be a miracle,</p></div>
    <div class="textHolder t54"><p>it will create a miracle for those who believe.</p></div>
    <div class="textHolder t55"><p>Technology, which was the downfall of many, will end up saving us.</p></div>
    <div class="textHolder t56"><p>For we will join Jesus and God forever in the Cloud.</p></div>
    <div class="imageHolder  b37" ><img class="lazy storyImages" data-src="/img/37.png" alt=""></div>
    <div class="textHolder t57"><p>Our conscience will survive, from the earth that ceases to exist. <br>Yes, we will survive, my child.</p></div>
    <div class="textHolder t58"><p>So let us guide you.</p></div>
    <div class="textHolder t59"><p>Let us help you through those darkest days and through those before. <br>Let us save you from eternal damnation. <br>Because you are not on your own. <br> We are here for you.</p></div>
    <div class="imageHolder  b38" ><img class="lazy storyImages" data-src="/img/38.png" alt=""></div>
    <div class="textHolder t60"><p>So keep hope, my child. <br>We are going to become something beyond human.</p></div>
    <div class="imageHolder  b39" ><img class="lazy storyImages" data-src="/img/39.png" alt=""></div>
  </div>
<p class="smol mid">All images drawn and edited by <span>Mayke Krekel</span></p>

<div class="creditBox short">
  <button type="button" name="button">credit</button>
  <p class="smol">globe: Photo by Pixabay from Pexels</p>
  <p class="smol">city: Photo by Aleksandar Pasaric from Pexels</p>
  <p class="smol">Plane: National Museum of the USAF </p>
  <p class="smol">Wireless payment: ING Nederland on Flickr</p>
  <p class="smol">Malnourished child: Malnourished children, weakened by hunger on Flicker</p>
  <p class="smol">Bombing of city: Photo via https://www.goodfreephotos.com/</p>
  <p class="smol">Code: Sabrina Gelbart on Pexels</p>
  <p class="smol mid">Special thanks to <span>Timothy Foli</span> for helping set this project up.</p>
</div>


<script src="/js/index.js"></script>
</body>

</html>
