<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="/css/main.css">
  <link rel="stylesheet" href="/css/shop.css">
  <link href="https://fonts.googleapis.com/css?family=Source+Code+Pro&display=swap" rel="stylesheet">
  <title>Shop | Beyond Human</title>
</head>
<body>
  <nav>
    <a href="/">Guidance</a>
    <a href="/chat">Chat</a>
    <a href="/shop">Shop</a>
  </nav>
<h2>Spread the truth</h2>
<section class="shadow-overlay hidden">
  <article class="chosen">
  <button type="button" name="button">+</button>
  <div></div>
  <button type="button" name="button">Pay now</button>
  </article>
</section>
<section class="shop-container">
  <a href="">
    <img src="/img/all_utentils.png" alt="">
  <p class="item-price">€48.00</p>
  <p class="description hidden">This is an item and the description of said item. You clicked on this item and now you will buy it.</p>
  <p class="item-name">Life cutter</p>
  </a>
  <a href="">
  <img src="" alt="">
  <p class="item-price">€</p>
  <p class="description hidden">Item description</p>
  <p class="item-name">Item name</p>
  </a>
  <a href="">
  <img src="" alt="">
  <p class="item-price">€</p>
  <p class="description hidden">Item description</p>
  <p class="item-name">Item name</p>
  </a>
  <a href="">
  <img src="" alt="">
  <p class="item-price">€</p>
  <p class="description hidden">Item description</p>
  <p class="item-name">Item name</p>
  </a>
  <a href="">
  <img src="" alt="">
  <p class="item-price">€</p>
  <p class="description hidden">Item description</p>
  <p class="item-name">Item name</p>
  </a>
  <a href="">
  <img src="" alt="">
  <p class="item-price">€</p>
  <p class="description hidden">Item description</p>
  <p class="item-name">Item name</p>
  </a>
  <a href="">
  <img src="" alt="">
  <p class="item-price">€</p>
  <p class="description hidden">Item description</p>
  <p class="item-name">Item name</p>
  </a>
  <a href="">
  <img src="" alt="">
  <p class="item-price">€</p>
  <p class="description hidden">Item description</p>
  <p class="item-name">Item name</p>
  </a>
  <a href="">
  <img src="" alt="">
  <p class="item-price">€</p>
  <p class="description hidden">Item description</p>
  <p class="item-name">Item name</p>
  </a>
  <a href="">
  <img src="" alt="">
  <p class="item-price">€</p>
  <p class="description hidden">Item description</p>
  <p class="item-name">Item name</p>
  </a>
  <a href="">
  <img src="" alt="">
  <p class="item-price">€</p>
  <p class="description hidden">Item description</p>
  <p class="item-name">Item name</p>
  </a>
  <a href="">
  <img src="" alt="">
  <p class="item-price">€</p>
  <p class="description hidden">Item description</p>
  <p class="item-name">Item name</p>
  </a>
  <a href="">
  <img src="" alt="">
  <p class="item-price">€</p>
  <p class="description hidden">Item description</p>
  <p class="item-name">Item name</p>
  </a>
  <a href="">
  <img src="" alt="">
  <p class="item-price">€</p>
  <p class="description hidden">Item description</p>
  <p class="item-name">Item name</p>
  </a>
  <a href="">
  <img src="" alt="">
  <p class="item-price">€</p>
  <p class="description hidden">Item description</p>
  <p class="item-name">Item name</p>
  </a>
  <a href="">
  <img src="" alt="">
  <p class="item-price">€</p>
  <p class="description hidden">Item description</p>
  <p class="item-name">Item name</p>
  </a>
  <a href="">
  <img src="" alt="">
  <p class="item-price">€</p>
  <p class="description hidden">Item description</p>
  <p class="item-name">Item name</p>
  </a>
  <a href="">
  <img src="" alt="">
  <p class="item-price">€</p>
  <p class="description hidden">Item description</p>
  <p class="item-name">Item name</p>
  </a>
</section>
<script src="/js/shop.js"></script>
</body>
</html>
